body {
  background-color:slategrey;
}

header {
  color: lawngreen;
  text-align: center;
  font-size: 100px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 30px;
  background-color: black;
}
